.app {
    display: flex;
    justify-content: space-around;
}

.content {
    width: 50%;
}
.list {
    border: 2px solid black;
}

.form-container {
    width: 25%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 500px;
}

.button {
    margin-top: 10px;
    width: 200px;
}